<section id="contents-section" style="padding-top: 5rem;">
    <!-- card heading -->
    <div class="cards__heading text-primary text-center">
        <h2>Contents</h2>
    </div>
    <!-- //card heading -->

    <!-- accordions -->
    <div class="accordions">
        <div class="row">
            <!-- accordion style 1 -->
            <div class="col-lg-12 mb-4">
                <div class="card card_border">
                    <div class="card-header chart-grid__header">About Section</div>
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">

                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingOne">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">About Kerala </a>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        Kerala is situated, in the South West corner of Indian peninsula. It is a tropical state
                                        with green and lush vegetation and has a 550 km coastline on the Arabian Sea. Kerala is the
                                        most densely populated state in India with 38,863 sq km area with around 33 million
                                        population.

                                        <br>

                                        Kerala is also one of the richest states in India with forests and plantations of rubber,
                                        cashew, and coconuts everywhere. It has a particularly rich heritage of dance and drama
                                        (Kathalkali, Mohiniattam) and people here are among the most industrious and well educated
                                        (100% literacy late) in the country. Kerala is renowned all over the world for its
                                        backwaters, natural beauty, health resorts and beaches..
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingTwo">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">About Himachal Pradesh</a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        Himachal Pradesh is a state in the northern part of India. Situated in the Western
                                        Himalayas, it is one of the eleven mountain states and is characterized by an extreme
                                        landscape featuring several peaks and extensive river systems. 
                    
                                        <br>

                                        Himachal Pradesh shares borders with the Union territories of Jammu and Kashmir and Ladakh
                                        to the north, and the states of Punjab to the west, Haryana to the southwest, and
                                        Uttarakhand and Uttar Pradesh to the south. The state shares a border to the east with the
                                        Tibet Autonomous Region in China..
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingThree">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">About Coron-Viruses</a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        Covid-19 or Coronaviruses (CoV) is from a large family of viruses that cause illness ranging
                                        from the common cold to more severe diseases such as Middle East Respiratory Syndrome
                                        (MERS-CoV) and Severe Acute Respiratory Syndrome (SARS-CoV). A novel coronavirus (nCoV) is a
                                        new strain that has not been previously identified in humans.
                                        
                                        <br><br>

                                        Coronaviruses are zoonotic, meaning they are transmitted between animals and people.
                                        Detailed investigations found that SARS-CoV was transmitted from civet cats to humans and
                                        MERS-CoV from dromedary camels to humans. Several known coronaviruses are circulating in
                                        animals that have not yet infected humans.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingFour">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Signs of Covid</a>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        <b> Common signs of covid infection include:</b>
                                        <ul>
                                            <li>Respiratory Symptoms</li>
                                            <li>Fever</li>
                                            <li>Cough</li>
                                            <li>Breathing Difficulties</li>
                                        </ul>

                                        <b>Severe cases of Infection include</b>
                                        <ul>
                                            <li>Pneumonia</li>
                                            <li>Severe-Acute-Respiratory-Syndrome</li>
                                            <li>Kidney failures</li>
                                            <li>Death</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header bg-white p-0" id="headingFive">
                                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Precuations for Covid-19</a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body para__style">
                                        <b>Precuations of Covid-19</b>
                                        <ul>
                                            <li>Washing Hands</li>
                                            <li>Cover Mouth and Nose while Sneezing </li>
                                            <li>Avoidig close contact with anyone having the Symptoms</li>
                                            <li>Cook food thoroughly well</li>
                                            <li>Clean Your at regular intervals using Sanitizer</li>
                                            <li>Always were masks while going outside</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- //accordion style 1 -->
        </div>
    </div>
    <!-- //accordions -->
</section>