<section id="people-section" style="padding-top: 5rem;">
    <!-- //people cards -->
    <div class="card card_border mb-5">
        <div class="cards__heading">
            <h3>Members -<span> of this project</span></h3>
        </div>

        <div class="card-body">
            <div class="row px-2">
                <div class="col-lg-3 col-md-6 mb-1 px-2">
                    <div class="card text-center card_border py-2">
                        <div class="card-body">
                            <div class="team-main-19">
                                <img class="rounded-circle " src="{{ url_for('static', filename='images/adithyan.jfif') }}" alt=" ">
                                <div class="right-team-9">
                                    <div>
                                        <h5><a href="#url" class="card__title mb-2 mt-3">Adithyan A</a></h5>
                                        <p class="">Web designer/Developer/ <br> Content Provider</p>
                                        <p><b>Project Manager</b></p>
                                    </div>

                                    <div class="people-social mt-3">
                                        <a href="#team" class="facebook"><span class="fa fa-github"></span></a>
                                        <a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="#team" class="linkedin"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                    
                                    <a href="#url" class="btn mt-4 profile-btn text-primary">View profile </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 mb-3 px-2">
                    <div class="card text-center card_border py-2">
                        <div class="card-body">
                            <div class="team-main-19">
                                <a href="{{ url_for('static', filename='images/adithyan.jfif') }}">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/aromal.jpeg') }}" alt="">
                                </a>

                                <div class="right-team-9">
                                    <div>
                                        <h5><a href="#url" class="card__title mb-2 mt-3">Aromal Krishnan</a></h5>
                                        <p class="">Team Lead/ <br> Data Provider</p>
                                        <p><b>Group Leader</b></p>
                                    </div>

                                    <div class="people-social mt-3">
                                        <a href="#team" class="facebook"><span class="fa fa-facebook"></span></a>
                                        <a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="#team" class="linkedin"><span class="fa fa-linkedin"></span></a>
                                    </div>

                                    <a href="#url" class="btn mt-4 profile-btn text-primary">View profile </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 mb-3 px-2">
                    <div class="card text-center card_border py-2">
                        <div class="card-body">
                            <div class="team-main-19">
                                <a href="#url">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/anaswar.jfif') }}" alt="">
                                </a>

                                <div class="right-team-9">
                                    <div>
                                        <h5><a href="#url" class="card__title mb-2 mt-3">Anaswar P Nair</a></h5>
                                        <p class="">Content Provider/Data Provider</p>
                                    </div>

                                    <div class="people-social mt-3">
                                        <a href="#team" class="facebook"><span class="fa fa-facebook"></span></a>
                                        <a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="#team" class="linkedin"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                    
                                    <a href="#url" class="btn mt-4 profile-btn text-primary">View profile </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 mb-3 px-2">
                    <div class="card text-center card_border py-2">
                        <div class="card-body">
                            <div class="team-main-19">
                                <a href="">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/abhinav.jfif') }}" alt=" ">
                                </a>

                                <div class="right-team-9">
                                    <div>
                                        <h5><a href="#url" class="card__title mb-2 mt-3">Abhinav Anil</a></h5>
                                        <p class="">Content Provider</p>
                                    </div>

                                    <div class="people-social mt-3">
                                        <a href="#team" class="facebook"><span class="fa fa-facebook"></span></a>
                                        <a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="#team" class="linkedin"><span class="fa fa-linkedin"></span></a>
                                    </div>

                                    <a href="#url" class="btn mt-4 profile-btn text-primary">View profile </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 mb-3 px-2">
                    <div class="card text-center card_border py-2">
                        <div class="card-body">
                            <div class="team-main-19">
                                <a href="#url">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/aswin.jfif') }}" alt=" ">
                                </a>
                                <div class="right-team-9">
                                    <div>
                                        <h5><a href="#url" class="card__title mb-2 mt-3">Aswin Jacob</a></h5>
                                        <p class="">Content Provider</p>
                                    </div>
                                    <div class="people-social mt-3">
                                        <a href="#team" class="facebook"><span class="fa fa-facebook"></span></a>
                                        <a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="#team" class="linkedin"><span class="fa fa-linkedin"></span></a>
                                    </div>

                                    <a href="#url" class="btn mt-4 profile-btn text-primary">View profile </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //people cards  -->
</section>
